.van-nav-bar{
  .van-nav-bar__title {
    font-family: PingFang-SC-Regular;
    font-size: 16px;
  }
  .van-icon {
    color: $back-button!important;
  }
}
.van-tabs {
  .van-tabs__line {
    width: 25%;
    z-index: 3;
    background-color: $active-color;
  }
}

