$primary-color: #0073DD !default;

$text-color: #fff!default;;
$light-text-color: #ababab!default;
$dark-color: #000!default;
$text-gray: #8D8D8D!default;
$text-black-3: #333!default;

$active-color: #4859DE!default;
$un-active-color: #E4E4E4!default;
$button-color: #ff5116!default;
